@{
    ViewBag.Title = "Demo Page";
}

@model Class40ExampleDotNet.Models.DemoInputModel

<h2>Demo Index</h2>

@Html.LabelFor(x => x.FirstName)
@Html.TextBoxFor(x => x.FirstName)

@Html.LabelFor(x => x.Game)
@Html.TextBoxFor(x => x.Game)

@Html.LabelFor(x => x.Age)
@Html.TextBoxFor(x => x.Age)

@Html.LabelFor(x => x.PlaysGame)
@Html.CheckBoxFor(x => x.PlaysGame)

<div>

    <p> DEMO PAGE</p>

</div>

